/**
 * windows93 - v2.0.0 - Sat, 10 Jun 2017 14:52:57 GMT
 * http://localhost:8080 
 * (w) 2017 WTFPL
 * by @jankenpopp & @zombectro
 */
button{border:1px solid #555;background:#eee}.s42_background{background-color:teal}.s42_desktop{padding:5px}.s42_desktop>.s42_icon{color:#fff;text-shadow:0 1px #000}.s42_taskbar{background-color:silver}.s42_window{padding:2px;background:silver}.s42_window__head{color:#fff;background:navy;margin-bottom:2px}.s42_window__foot{background:silver}.s_inset--deep{background:#fff;border-top:1px solid gray;border-left:1px solid gray;box-shadow:1px 0 #fff,0 1px #fff,1px 1px #fff,inset -1px -1px silver,inset 1px 1px #000}